<p id="notice"><%= notice %></p>

<h1>Flights</h1>

<%= form_with(url: '/flights',  method: :get) do %>
  <%= select_tag(:departure_airport_id, options_for_select(@airport_options)) %>
  <%= select_tag(:arrival_airport_id, options_for_select(@airport_options)) %>
  <select name="number of passengers">
    <%= (1..4).each do |number| %>
      <option value="<%=number %>"><%=number %></option>
    <% end %>
  </select>
  <%= select_tag(:start_time, options_for_select(@start_time)) %>
    <%= submit_tag "Search" %>
<% end %> 

<% @flights.each do |f|%>
  <p>
  <%= f.company %>
  <%= f.number %>
  <%= f.start_time.to_formatted_s(:long_ordinal)%>
  </p>
<% end %>

<!--<%= link_to 'New Flight', new_flight_path %>-->

