<p id="notice"><%= notice %></p>

<h1>Flights</h1>

<%= form_with(url: '/flights',  method: :get) do %>
  <%= text_field_tag(:search) %>
  <%= submit_tag "Search" %>
<% end %> 

<!--<%= link_to 'New Flight', new_flight_path %>-->

