<h1>New Booking</h1>

<%= form_with(model:@booking) do |form| %>
  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
        <% @booking.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% params[:booking][:passenger_number].to_i.times do %>
    <%= form.fields_for :passengers, Passenger.new do |sub_form| %>
      <%=sub_form.text_field :name %>
      <%=sub_form.text_field :email %>
    <% end %>
  <% end %>


  <%=form.hidden_field :flight_id, value: params[:booking][:flight_id]%>
  <%=form.hidden_field :passenger_number, value: params[:booking][:passenger_number]%>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Back', bookings_path %>-->
