<!DOCTYPE html>
<html>
  <head>
    <title>FlightBooker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
     <%= link_to root_path, class:"navbar-item" do %>
          <h1 class="title is-4">Flight Booker</h1>
        <% end %>
  </div>

 
</nav>
    <%= yield %>
  </body>
  <footer class="footer has-background-white">
  <div class="content has-text-centered">
    <p>
      <strong>Flight Booker</strong> by <a href="https://github.com/matthew-deluge">Matthew_Deluge</a>.
    </p>
  </div>
</footer>
</html>
